@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-image: url('fon.jpg');
    -webkit-background-size: cover;
    bacground-size: cover;
}

.sign_in {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.sign_in_form {
    background-color: #fff;
    padding: 10px;
    width: 330px;
}

.sign_in_form a {
    text-decoration: none;
    transition: .5s;
    color: #298cad;
}

.sign_in_form a:hover {
    color: #36d2ff;
}

.sign_in_form input {
    display: block;
    width: 100%;
}

.sign_in_form_form {
    background-color: #fff;
    padding: 30px 20px 20px;

}

.input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #1e8da6;
    outline: none;
}

::-webkit-input-placeholder {
    color: #c4c9c9;
}

::-moz-placeholder {
    color: #298cad;
}

:-moz-placeholder {
    color: #298cad;
}

:-ms-input-placeholder {
    color: #298cad;
}

a.button {
    background: #298cad;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-bottom: 4px solid #36d2ff;
}

a.button:hover {
    color: #ffffff;
}

.button::before, .button::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #27bfdc;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .3s;
    z-index: -1;
}

.button::after {
    background: #36d2ff;
    top: 100%;
    left: 0;
    transition-delay: .2s;
}

.button:hover::before {
    left: 0;
}

.button:hover::after {
    top: 0;
}



.box-input {
    position: relative;
}

.box-input input {
    border: none;
    border-bottom: 2px solid #e9eaea;
    padding: 10px 0;
}

.box-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    color: #c4c9c9;
    transition: .5s;pointer-events: none;
}

.box-input input:focus ~ label,
.box-input input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #33d3fe;
}