body {
  background-color: #eee;
}

h1 {
  text-align: center;
}

input {
  background: transparent;
  color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #ddd;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(184,61,0,1) 0%, rgba(233,103,32,1) 35%, rgba(0,212,255,1) 100%);
  background-color: rgba(0,0,0,.3);
  background-blend-mode: darken;
}

.navbar {
  box-shadow: 0 0 10px 4px #464646;
}

.logout {
  position: absolute;
  right: 1%;
}

.data-name {
  text-align: left;
}

.profile {
  width: 1600px;
  height: 800px;
  background-color: #fbfbfb;
  position: absolute;
  top: 10%;
  left: 8%;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px #464646;
  padding: 40px;
}
