h1 {
  text-align: left !important;
}

.company-name,
.company-name:hover {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  left: 20px;
  top: 20px;
}

.search {
  position: relative;
  left: 20px;
  color: #000;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #ccc;
  width: 70px;
  height: 40px;
  border-radius: 0;
  outline: none;
}

.search:focus {
  width: 200px;
  animation: .2s linear search-width;
}

.grid-item {
  background-color: #fbfbfb;
  border-radius: 5px;
  width: 300px;
  height: 360px;
  margin-bottom: 30px;
  padding: 20px;
}

.grid-item img {
  width: 260px;
  height: 260px;
  border-radius: 3px;
  margin-bottom: 20px;
}

a, a:hover {
  color: black;
}

.grid-item:hover {
  box-shadow: 0 0 18px 2px #1f1f1f;
  animation: .15s linear coffee;
}


.grid {
  position: absolute;
  width: 1500px;
  top: 80px;
  left: 15%;
}

@keyframes coffee {
  0% {
    box-shadow: 0 0 8px 1px #1f1f1f;
  }
  25% {
    box-shadow: 0 0 12px 1px #1f1f1f;
  }
  50% {
    box-shadow: 0 0 14px 1px #1f1f1f;
  }
  75% {
    box-shadow: 0 0 15px 2px #1f1f1f;
  }
  100% {
    box-shadow: 0 0 17px 2px #1f1f1f;
  }
}

@keyframes search-width {
  0% {
    width: 70px;
  }
  25% {
    width: 100px;
  }
  50% {
    width: 130px;
  }
  75% {
    width: 160px;
  }
  100% {
    width: 200px;
  }
}
